a(href="/@#{user.handle}/#{post.postID}")
  h1 #{post.title} by #{user.handle}
p #{post.content}

if sameUser
  form(method="post", action="/api/edit/#{post.postID}")
    label(for="title") Title: 
    input(type="text", name="title", required)
    br
    label(for="content") Description: 
    textarea(name="content")
    br
    button(type="submit") Edit
  form(method="post", action="/api/post/#{post.postID}")
    button(type="submit") Delete
if loggedIn
  form(method="post", action="/api/save/#{post.postID}")
    button(type="submit") Save
