extends layout

block content
	div.singlePost
		a(class="name" href="/@#{username}") #{name}
		span.timeStamp #{postTime}
		span.title #{title}
		p.postContent #{content}
		if sameUser
			include ./includes/formstuff.jade
