extends layout

block content
	div.singlePost
		h1 #{title} by 
			a(href="/users/#{username}") #{username}
		p.postContent #{content}
		p.timeStamp Written on #{postTime}
		if sameUser
			include ./includes/formstuff.jade
