extends layout

block content
	h1 #{username}
	
	p Welcome to #{name}'s homepage
	p They have been a member since #{date}
	if loggedIn
		if !sameUser
			div
				if !alreadyFollowing
					form(action="/@#{username}", method="post")
						//button(name="follow") Follow
						//button(name="unfollow") Unfollow
						input(type="submit", value="follow", name="followType")
				if alreadyFollowing
					form(action="/@#{username}", method="post")
						//button(name="follow") Follow
						//button(name="unfollow") Unfollow
						input(type="submit", value="unfollow", name="followType")
		if alreadyFollowing
			p 
				b Already Following

		//button.blockButton Block
	p Followers: #{followers}
	p Following: 	
	if empty
		h3 #{name} hasn't posted anything yet.
	else
		h3 All of #{name}'s posts
			each post in blogPosts
				div.post
					include ./includes/post.jade
	
